
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Combat Game</title>
    <style>
        .b1 {
            background: Tomato; 
            color: black; 
            font-size: 9pt; 
        }
        .b2 {
            background: Orange;
            color: black;
            font-size: 9pt;
        }
        .b3 {
            background: Yellow;
            color: black;
            font-size: 9pt;
        }
    </style>
</head>
<body>

    <p style="text-align: center"><span style="font-size: 22pt;"><b>Combat started!!!</b></span></p>

    <p>@Model.P1State.playerName health =  @Model.P1State.Health</p>
    <p>@Model.P2State.playerName health =  @Model.P2State.Health</p>

    @if (Model.Player1Attacks)
    {
        <p>@Model.P1State.playerName attacks</p>
        <p>@Model.P2State.playerName defends</p>
    }
    else
    {
        <p>@Model.P2State.playerName attacks</p>
        <p>@Model.P1State.playerName defends</p>
    }

<form method="post" action="~/Home/Fighting">
    <input type="hidden" name="identity" value="@ViewData["identity"]"/>

    <p> <button class="b1" type="submit" name="hitAndBlock" value="Head">Head</button> </p>
    <p> <button class="b2" type="submit" name="hitAndBlock" value="Body">Body</button> </p>
    <p> <button class="b3" type="submit" name="hitAndBlock" value="Leg">Leg</button> </p>

</form>

    <script>
            setTimeout(function () {
                window.location='Refresh?identity=@ViewData["identity"]';
            }, 10000);
    </script>

</body>
</html>